@import "../../styles/mixins.scss";

.Projects {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  padding: 24px;
  background-color: $blue;

  .cardWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    width: 100%;
    max-width: 1440px;

    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      width: 30%;
      background-color: $white;
      padding: 12px;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

      .cardImage {
        filter: drop-shadow(8px 8px 4px rgba(0, 0, 0, 0.3));
        margin: 0;
      }

      .textWrapper {
        display: flex;
        flex-direction: column;
        gap: 6px;

        div {
          margin: 0;
        }

        a {
          transition: all 0.3s ease-in-out;

          &:hover {
            color: $red;
            font-weight: bold;
            transform: scale(1.01);
          }
        }

        h3,
        h4,
        p,
        a {
          text-align: left;
          margin: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .Projects {
    padding: 12px;

    h1 {
      font-size: 26px;
    }

    .cardWrapper {
      flex-direction: column;
      gap: 12px;
      width: 100%;

      .card {
        width: 100%;

        .cardImage {
          width: 300px;
          height: 150px;
        }
      }
    }
  }
}
