@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fbfffe;
  color: #191716;
}

li {
  list-style: none;
  cursor: pointer;
  transition: all 0.15s ease-in;
}

li:hover {
  color: #36827f;
}

a {
  color: inherit;
  text-decoration: none;
}
