@import "../../styles/mixins.scss";

.NavBar {
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: $blue;
  border-bottom: 2px solid $black;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    height: 60px;

    .hamburger {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;
      margin: 0;
    }

    .menu {
      .list {
        .listDetails {
          display: flex;
          gap: 12px;

          a {
            li {
              font-weight: bold;

              &:hover {
                border-bottom: 2px solid $black;
                color: $black;
              }
            }
          }
        }
      }
    }

    .logo {
      display: flex;
      align-items: center;
      gap: 12px;
      margin: 0;

      a {
        font-weight: bold;
        font-size: 24px;
        cursor: pointer;
        transition: color 0.3s ease-in;

        &:hover {
          color: $red;
        }
      }
    }
  }
}
